// ! Global variables
// [$]: value
// [@]: 関連ファイルパス
// [!]: ヒント
// ------------------------------

// ### Breakpoints
// [@]: @mixins/_mediaquery
// [!]: @include mq(key) {} の引数のdefaultは[sm]です。
// [!]: 設定したkeyが読み込み時の引数指定名です。
breakpoint-sm = 768px
breakpoint-md = 960px
breakpoint-lg = 1280px

// ## Colors
// ++ Text colors
text-base       = #232323
text-sub-base   = #232323
text-inverse    = #fff

// ++ Link colors
link-base       = #232323
link-inverse    = #9ae7f0

// ++ Background colors
bg-base         = #fff
bg-inverse      = #fafafa
bg-dark         = #131519
bg-light        = #374251

// ++ Brand colors
brand-primary   = #5cb85c
brand-secondary = #5bc0de

// ++ State colors
state-warning   = #f0ad4e
state-danger    = #d9534f


// ## Typography
// ++ Base font family sets
base-font-family = "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif