@import "../variables/*"

html
	width 100%
	height 100%
	z-index 0

body
	width: 100%;
	height: 100%;
	font-family base-font-family
	font-weight 400
	font-size 14px
	color text-base
	background bg-base
	pointer-events auto
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	position: relative;

a
	text-decoration none
	color link-base
	cursor pointer

img
	width 100%
	height auto
	vertical-align bottom

small
	font-size 100%

input,
select,
button,
optgroup,
textarea
	margin 0
	font-family base-font-family
	color inherit

textarea
	height 8em
	overflow auto

button
  font-family base-font-family
  background transparent
  border none
  border-radius 0
  cursor pointer
  outline none
  padding 0

blockquote
	display inline-block
	border-left 2px solid rgba(190, 190, 190, 1)
	padding-top 0.5em
	padding-left 1em
	color rgba(190, 190, 190, 1)

hr
	margin-top 3em
	margin-bottom 3em
